parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: function.alreadyNarrowedType
            path: tests/bootstrap.php
        -
            identifier: method.unused
            path: src/Kernel.php
